{% extends 'base/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}

{% block content %}    
    <!-- List of books -->
    <div class="recommended-books">
        <p><h2>
            {% if query %}
                Results for "{{ query }}"
            {% endif %}
        </h2></p>
        {% for book in page_obj %}
            {% include 'books/book_entry.html' with detailed=False %}
        {% empty %}
            <p>No books found.</p>
        {% endfor %}
    </div>

{% endblock content %}