<div class="book-entry">
    {% if detailed %}
        <img src="{{ book.cover }}" class="book-cover">
    {% else %}
        <a href="{% url 'book_detail' book.id %}">
            <img src="{{ book.cover }}" class="book-cover">
        </a>
    {% endif %}
    
    <div class="book-details">
        <div class="book-title">
            <p><a href="{% url 'book_detail' book.id %}" name="title">{{ book.title }}</a></p>
        </div>
        
        <div class="book-properties">
            <p><b>Author</b>: 
                {% for author in book.authors.all %}
                <a href="{% url 'author_detail' author.id %}">{{ author.name }}</a>
                {% endfor %}
            </p>
            <p><b>Genres</b>: {{ book.genres.all|join:", " }}</p>
            <p><b>Language</b>: {{ book.language }}</p>
            {% if detailed %}
                <p><b>ISBN</b>: {{ book.ISBN }}</p>
                <p><b>Publishing</b>: {{ book.publisher }}</p>
            {% endif %}
        </div>
        
        
        <div class="book-synopsis">
            {% if detailed %}
                {% autoescape off %}
                    <p>{{ book.synopsis|linebreaksbr }}</p>
                {% endautoescape %}
            {% else %}
                {% autoescape off %}
                    <p>{{ book.synopsis|linebreaksbr|truncatewords:100 }}
                    <a href="{% url 'book_detail' book.id %}">Read more</a>
                    </p>
                {% endautoescape %}
            {% endif %}
        </div>

    </div>
    <div class="clear"></div>   <!-- Clear float -->
</div>