{% extends 'base/base.html' %}
{% load static %}

{% block title %}
{{ book.title }}
{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/book_detail.css' %}">
<link rel="stylesheet" href="{% static 'css/review.css' %}">
{% endblock head %}

{% block content %}
<!-- Book Information -->
<div typeof="Book">
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="book-info">
                {% include 'books/book_entry.html' with detailed=True %}
            </div>
        </div>

        <!-- Book Reviews -->
        <div class="row">
            <div class="book-reviews">
                <h2>Latest Reviews</h2>
                <span rel="aggregateRating">
                    <div class="my-4" typeof="AggregateRating">
                        <h4 name="average_rating">Average Rating:
                            <span property="ratingValue">{{ book.averageRating|stringformat:".1f" }}</span>
                            from <span property="reviewCount">{{ book.reviews.count }}</span>
                            review{{ book.reviews.count|pluralize }}
                        </h4>
                        <div class="rateyo-read-only" data-rateyo-rating="{{ book.averageRating }}"></div>
                    </div>
                </span>

                <!--Create a new review button-->
                <a href="{% url 'review_create' book.id %}" class="btn btn-primary" name="create_review_button">
                    Create a new review
                </a>

                <span rel="review">
                    <!-- Show reviews -->
                    {% if book.reviews.all %}
                    {% for review in latest_reviews %}
                    <div typeof="Review">
                        {% include 'reviews/review_entry.html' %}
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No reviews yet!</p>
                    {% endif %}
                </span>

                <!-- Show more reviews -->
                {% if book.reviews.count > num_reviews_shown %}
                <a href="{% url 'book_reviews' book.id %}" name="more_reviews_link">See more reviews</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}