.book-entry{
    margin-left: 15px;
    margin-right: 100px;
}

.book-cover{
    float: left;
    margin-right: 15px;
    width:100%;
    min-width: 300px;
    max-width:300px;
}

.book-details {
    display: block;
    padding-right: 20px;
    margin-left: 300px;
}

.book-title {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
}

.book-properties {
    font-size: 20px;
    line-height: 8px;
    font-style: italic;
    margin-bottom: 25px;
}

.book-synopsis{
    font-size: 18px;
    text-align: justify;
}
